.checker {
    display: flex;
    flex-direction: row;
}

.indicator{
    width: 30px;
    height: 10px;
    margin: 0 5px;
}



.my-color-picker {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #999;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
        
}


